.footer
  padding-top: 131px
  padding-bottom: 80px
  background-color: #0D2436
  &__wrapper
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin-bottom: 61px
  &__col
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-right: 90px
    align-items: flex-start
    &--mr
      &--50
        margin-right: 52px
      &--35
        margin-right: 97px
  &__logo-image
    width: 90px
    height: 28px
  &__about
    margin-top: 22px
    margin-bottom: 32px
    max-width: 240px
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 28px
    color: $text-color
  &__social
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 175px
    color: red
    margin-right: 12px
    text-decoration: none
  &__title
    margin-top: 0
    margin-bottom: 28px
    font-family: Open Sans
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $text-color
  &__link
    margin-bottom: 21px
    font-family: Open Sans
    font-weight: normal
    font-size: 15px
    line-height: 28px
    text-decoration: none
    color: $footer-text-color
    &:focus, &:active
      outline: none
  &__bottom
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__like
    display: flex
    justify-content: center
    align-items: center
    width: 56px
    height: 56px
    margin-bottom: 24px
    border-radius: 50%
    overflow: hidden
    background-color: $link-color
  &__heart
    margin-top: 3px
  &__copyrigth
    font-family: Open Sans
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $text-color
