.header
  background-color: #FAFDFF
  margin-bottom: 100px
  &__top
    margin-bottom: 53px
  &-top
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    &__logo
      &-image
        width: 90px
        height: 28px
      &:active, &:focus
        outline: none
    &__button
      min-width: 131px
      max-height: 48px
      padding: 12px 24px
      font-family: Open Sans
      font-weight: bold
      font-size: 16px
      line-height: 22px
      border: 2px solid $link-color
      border-radius: 8px
      background-color: transparent
      color: $link-color
      transition: all 0.3s
      &:hover
        background-color: $link-color
        color: #fff
        border: 2px solid transparent
      &:active, &:focus
        outline: none
    &__burger
      display: none
  &-main
    position: relative
  &__text
    position: relative
    max-width: 500px
    min-height: 579px
  &__title
    margin-bottom: 13px
    font-family: Roboto
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $primary
  &__region
    font-family: Roboto
    font-weight: bold
    font-size: 36px
    line-height: 60px
    letter-spacing: 0.2px
    color: inherit
  &__subtitle
    max-width: 457px
    margin-top: 0
    margin-bottom: 64px
    font-family: Open Sans
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $text-color
    overflow: auto
  &__button
    width: 243px
    padding: 15px 24px
    font-family: Open Sans
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    background-color: $primary
    border-radius: 8px
    border: none
    color: #fff
  &__next
    text-align: center
    line-height: 56px
    position: absolute
    bottom: 0
    left: 0px
    width: 56px
    height: 56px
    border-radius: 50%
    border: 2px solid $text-color
    cursor: pointer
    text-decoration: none
    &--mobile
      display: none
  &__images
    position: absolute
    top: 0px
    right: 0px
    height: 579px
    &--visible
      display: none
  &__macbook, &__iphone, &__circle,  &__points
    position: absolute
  &__macbook
    bottom: 8px
    right: 0
  &__iphone
    bottom: -18px
    right: 508px
  &__circle
    bottom: -100px
    right: -15px
    z-index: -2
  &__points
    bottom: 351px
    right: 652px
.nav
  display: flex
  justify-content: space-between
  align-items: center
  flex-grow: 1
  &__menu
    display: flex
    justify-content: space-between
    min-width: 407px
    max-height: 400px
    padding: 0
    margin-left: auto
    margin-right: 54px
    list-style: none
  &-bottom
    display: none
    &__button
      display: none
    &__submenu
      display: none
    &__tick
      display: inline-block
      width: 10px
      height: 10px
      margin-left: 15px
      margin-bottom: 5px
      border-bottom: 2px solid #fff
      border-right: 2px solid #fff
      transform: rotate(45deg)
      cursor: pointer
      &--active
        transform: rotate(225deg)
  &__item
    position: relative
    font-family: Open Sans
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $primary
  &__link
    text-decoration: none
    color: inherit
    &:hover
      color: $secondary
    &:active, &:focus
      outline: none
  &__submenu
    display: none
    width: 150px
    position: absolute
    top: 100%
    left: 0
    padding: 0
    margin: 0
    list-style: none
    transition: all 0.5
    z-index: 99
    &--visible
      display: block
  &__subitem
    margin-top: 10px
    z-index: 99
  &__tick
    display: inline-block
    width: 5px
    height: 5px
    margin-left: 5px
    margin-bottom: 5px
    border-bottom: 2px solid $primary
    border-right: 2px solid $primary
    transform: rotate(45deg)
    cursor: pointer
    &--active
      transform: rotate(225deg)
