.social
  padding-top: 34px
  padding-bottom: 122px
  &__heading
    display: block
    margin-bottom: 20px
    font-family: Open Sans
    font-weight: 600
    font-size: 14px
    line-height: 19px
    letter-spacing: 2px
    text-transform: uppercase
    text-align: center
    color: $secondary
    text-decoration: none
    cursor: default
    &:focus, &:active
      outline: none
  &__title
    margin-top: 0
    margin-bottom: 53px
    font-family: Roboto
    font-weight: bold
    font-size: 36px
    line-height: 48px
    text-align: center
    letter-spacing: 0.2px
    color: $primary
  &__cards
    display: flex
    justify-content: space-around
    max-width: 1093px
    margin: auto
  &__card
    width: 263px
    min-height: 232px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    text-align: center
  &__icon-back
    display: flex
    justify-content: center
    align-items: center
    width: 64px
    height: 64px
    border-radius: 16px
    background: rgba(21, 101, 216, 0.06)
  &__icon
    z-index: 2
  &__name
    margin-top: 39px
    margin-bottom: 0px
    font-family: Roboto
    font-weight: bold
    font-size: 20px
    line-height: 24px
    text-align: center
    letter-spacing: 0.2px
    color: $primary
  &__description
    font-family: Open Sans
    font-weight: normal
    font-size: 16px
    line-height: 24px
    text-align: center
    color: $text-color
  &__subscribe
    margin-top: auto
    font-family: Open Sans
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $link-color
    text-decoration: none
    &:focus, &:active
      outline: none
  &__link-arrow
    margin-left: 5px
