@media (max-width: 1336px)
  .container
    max-width: 1140px
  .header
    &__macbook
      right: -50px
    &__iphone
      right: 380px
    &__points
      right: 550px
@media (max-width: 1200px)
  .container
    max-width: 940px
  .header
    &__macbook
      right: -150px
    &__iphone
      right: 280px
    &__points
      right: 450px
  .partner
    &__title
      margin-right: 20px
@media (max-width: 992px)
  .container
    max-width: 700px
  .nav
    &__menu
      min-width: 385px
      margin: auto
  .header
    margin-bottom: 0px
    &__title
      font-size: 42px
    &__subtitle
      max-width: 377px
      margin-bottom: 30px
    &__macbook
      right: -350px
    &__iphone
      right: 100px
    &__points
      right: 300px
  .partners
    &__text
      flex-direction: column
    &__title, &__description
      max-width: 100%
@media (max-width: 768px)
  .container
    max-width: 586px
  .nav
    &__menu
      display: none
    &-bottom
      position: relative
      &__submenu
        list-style: none
        padding: 0
        margin: 0
        text-align: center
        position: relative
        &--visible
          display: block
      &__subitem
        margin: 10px 0
      &__button
        display: block
        margin-top: 30px
        min-width: 131px
        max-height: 48px
        padding: 12px 24px
        font-family: Open Sans
        font-weight: bold
        font-size: 16px
        line-height: 22px
        border: 2px solid $link-color
        border-radius: 8px
        background-color: transparent
        color: $link-color
        transition: all 0.3s
      &--visible
        display: flex
        justify-content: center
        height: 100%
        position: absolute
        top: 64px
        bottom: 0
        left: 0
        right: 0
        background-color: $primary
      &__menu
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        max-height: 400px
        padding: 0
        margin: 0
        list-style: none
      &__item
        position: relative
        width: 100%
        margin-top: 50px
        font-family: Roboto
        font-weight: bold
        font-size: 24px
        line-height: 32px
        letter-spacing: 0.2px
        text-align: center
        color: #ffffff
      &__subitem
        margin-top: 40px
        font-family: Roboto
        font-weight: 400
        font-size: 20px
        line-height: 26px
        letter-spacing: 0.2px
      &__link
        text-decoration: none
        color: inherit
  .header
    margin-bottom: 100px
    &-main
      display: flex
      flex-direction: column
    &__region
      font-size: 42px
    &__text
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      max-width: 100%
      min-height: 366px
      margin-bottom: 48px
    &__subtitle
      max-width: 100%
      font-size: 16px
      line-height: 28px
    &__button
      width: 220px
      height: 48px
      padding: 13px 36px
      font-size: 16px
      line-height: 22px
    &__images
      position: relative
      top: 0
      right: 0
      height: auto
    &__macbook
      position: relative
      right: 0
      bottom: 0
      width: 100%
    &__iphone
      position: absolute
      left: 0
      bottom: 0
      transform: translateX(-50%)
      height: 80%
    &__circle
      position: absolute
      bottom: -67px
      right: 0px
      width: 302px
      height: 302px
    &__points
      position: absolute
      top: 10px
      left: 0
    &__next
      display: none
      &--mobile
        display: block
        top: 115%
        left: 50%
        transform: translateX(-50%)
    &-top
      height: 64px
      &__button
        display: none
      &__burger
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 18px
        height: 14px
        border: none
        cursor: pointer
        background-color: #ffffff
  .partners
    &__heading, &__title, &__description
      text-align: center
    &__heading
      margin-bottom: 24px
    &__text
      margin-bottom: 30px
      align-items: center
    &__title
      margin-bottom: 15px
      font-size: 28px
      line-height: 29px
    &__logo
      width: 108px
    &__link
      &:last-child
        display: none
  .modal
    &__dialog
      min-width: 400px
@media (max-width: 596px)
  .container
    max-width: 90%
  .header
    &__images
      width: 100%
      height: 100%
    &__macbook
      width: 100%
  .partners
    &__brands
      max-width: 315px
      min-width: 235px
      margin: auto
    &__logo
      margin-bottom: 25px
  .modal
    &__dialog
      min-width: 340px
@media (max-width: 480px)
  .partners
    &__title
      white-space: normal
  .modal
    &__dialog
      min-width: 300px
      padding: 30px
  #name-error, #phone-error, #mail-error
    left: 30px
  #name-error
    top: 165px
  #phone-error
    top: 240px
  #mail-error
    top: 313px
@media (max-height: 480px)
  .modal
    &__dialog
      height: 96vh
      margin: auto
      overflow: auto
    &__form
      padding-bottom: 30px
